


.charList {
  padding-left: 97px;
}

.char-card  {
    /* background: rgb(117, 105, 105); */
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,38,9,1) 63%, rgba(167,148,136,1) 90%, rgba(198,222,220,1) 99%, rgba(0,212,255,1) 100%);
    max-height: 500px;
    width:90%;
    padding-left: 21px;
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 167px;
  };