


.charList {
  border: 2px solid red;
  padding-left: 97px;
}

.char-card  {
    background: white;
    max-height: 500px;
    width:90%;
    padding-left: 21px;
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: center;
    border: 1px solid blue;
    margin-bottom: 10px;
  };